<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加案例</title>
</head>
<body style="background-color: #f0f0f0">
<h1 align="center" style="background-color: #d0d0d0;display: block;width:100%;height:60px;line-height: 60px;">添加案例</h1>
<form action="{:url('getInputInfo')}" method="post" enctype="multipart/form-data">
    <table align="center" cellpadding="0" cellspacing="0" width="50%" height='700px' border="1px" bordercolor="#d0d0d0" >
        <colgroup bgcolor="#d0d0d0" span="1"></colgroup>
        <tr>
            <td style="text-align: center">案例标题:</td>
            <td><input style="height: 20%; width: 60%;" type="text" name="title"/></td>
        </tr>
        <tr>
            <td style="text-align: center">案例图片:</td>
            <td><input type="file" name="images"/></td>
        </tr>
        <tr>
            <td style="text-align: center">案例内容:</td>
            <td>
                <textarea style="height: 90%;width: 70%;" rows="10" cols="10" name="contents"></textarea>
            </td>
        </tr>
    </table>
    <center>
        <input style="width: 10%;height: 40px;margin-top: 30px;border-radius: 5px;background-color: #d0d0d0" type="submit" value="添加案例" />
        <a href="{:url('index/index')}" ><span style="box-shadow:2px 2px 1px gray;color:black;font-size: 14px;display: inline-block; margin-left:20px;width: 188px;padding: 9px 0px;border-radius: 5px;background-color: #d0d0d0;">返回首页</span></a>
    </center>
</form>
</body>
</html>